@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chivo&family=Fredoka&family=Karla:wght@500&display=swap');


*{
    font-family: "Chivo";
}

form{
    padding-left: 3%;
    padding-right: 9%;
    margin-bottom: 2%;
}


#headerSimulator{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: #004664;
}
#header {

}#headerStartsida{
    display: flex;
    align-items: center;
    justify-content: center;
}

#languageIconDivStartsida{
    position: absolute;
    right: 64px;
    display: flex;
    align-items: center;  
    font-weight: bold;
    font-size: 16px;
    color: #004664;
    text-align: center;
}
#languageTextStartsida{
    margin: 0%;
    margin-left: 16px;
}
.logoStartsida{
    width: 139px;
    height: 104px;
    margin-top: 14px;
}
#logoDivStartsida{
    background-image: url("/Images/Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 100px;
    margin-top: 22px;
    margin-bottom: 5px;
}
#languageIconDiv{
    position: absolute;
    right: 4rem;
    display: flex;
    align-items: center;  
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-align: center;
}
#languageIconDiv img {
    height: 3vh;
}
#languageText{
    margin: 0%;
    margin-left: 1rem;
}

#logoDiv{
    /* background-image: url("/Images/Logo_white.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 70px;
    margin-top: 1%;
    margin-left: 4%;
}
#logoDiv img {
    height: 80%;
}


.dropdown-toggle-blue{
    background-image: url("Images/chevron\ dropdown\ menu.png");
    background-repeat: no-repeat;
}

#dropdownImg{
    width: 14px;
    height: 6px;
}
.navbar{
    background-color: #F2F2F2;
}
#navbar-p{
    margin-bottom: 0%;
    margin-right: 3%;
    font-family: "Chivo";
    color: #004664;
    font-weight: bolder;
}
#navbarDropdownMenuLink{
    width: auto;
    height: auto;
}

#searchButtonImg{
    width: 19px;
    height: 19px;
}
#registerContentDiv{
    margin-left: 10%;
    max-width: 889px;
    margin-top: 1%;
    margin-bottom: 2%;

}
#registerHeader{
    font-size: 85px;
    font-weight: bold;
}

.gradient-text {
    background-image: linear-gradient(89.43deg, #004664 0.25%, #489CB7 73.19%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
#registerButton{
    background-color: #489CB7;
    padding: 20px 50px;
    border-radius: 8px;
    border-style: hidden;
}
#mainContent {
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    margin-bottom: 8%;
}
.mainContentButton {
    background-color: #004664;
    padding-left:2%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
 
.content-div{
    box-shadow: 0px 4px 15px rgba(0, 70, 100, 0.3);
    margin-top: 2%;
    flex-direction: column;
    padding: 0%;

}

#textcontent1{
    padding-left: 2%;
    padding-top: 2%;
}

  
.content-img img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.contentButtonPara{
    margin-bottom: 0px;
    margin-left: 3%;
    color: #F2F2F2;
    font-family: "Chivo";
    font-weight: bolder;
}
.rightArrow{
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 8px;
}



.introContainer{
    background-image: url(Images/family.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 573px;
}
.introTextContent{
    max-width: 420px;
    flex-direction: column;
    padding-top: 5%;
    margin-left: 7%;
    color: white;


}

.introHeader{
    border: #F2F2F2 8px solid;
    border-radius: 6px ;
    
    padding: 2% 2%;
}

.introPara{
    padding: 2% 2%;
    font-size: 20px;
}

.introBtn button{
    background-color: #489CB7;
    color: white;
    padding: 2.5%;
    border-style: none;
    border-radius: 5px;
    margin-left: 2%;
}
.fastLinks{
    flex-direction: column;
    margin-left: 80%;
    color: white;  
}
.fastLinks h4{
    font-size: medium;
}
.fastLinks a{
    text-decoration: none;
    color: white;
    font-size: small;
}

 .snakeboxes {
    color: #004664;
}
.content-container .row {
    margin-top: 15px;
}
.snake h1
{
    text-align: center;
    padding-top: 3%;
    color: #004664;
}

.snake {
    background-color: #fef2e7;
     padding-left: 6%;
    padding-right: 6%; 

}

.snakebox {
    background-color: white;
    border: #004664 4px solid;
    border-radius: 8px;

    padding-left: 2%;
    padding-top: 1%; 
}

.snakebox h2{
    font-size: 27px;
    font-weight: bold;
}

.snakebox p{
    font-size: medium;
}


.stories-div{
    background-color: #EDF0F2;
    padding-top: 1.5%;
}
.stories-div-h4{
    text-align: center;
    font-weight: bolder;
}
.story-h3{
    text-align: center;
    color: #004664;
    font-weight: 900;
    margin-top: 7%;
}
.story{
    flex-direction: column;
}
.story-img{
    max-width: 300px;
}

 .story-p{
    padding-left: 8%;
} 

/*****************Simulator page***************************/
.main-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.desc-p{
    margin-top: 3%;
}
/*****************Sidenav************************/
.sidenav{
    /* padding-left: 5%; */
    border-left: 1px solid black;
    margin-left: 3%;
    height: 25%;
}

/*****************Form***************************/
.form-template{
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
    border-radius: 11px;   
}
#side-p0{
    font-weight: bold;
}
#guestWhereInfo{
    display: none;
}
#guestInfo{
    display: none;
}
#lengthInfo{
    display: none;
}
#sendInfo{
    display: none;
}
.form-header{
    font-weight: bold;
    padding: 4% 0 0 0;
}
#personligInfo h4 {
    padding-bottom: 3%;
}
form label{
    font-size: 16px;
}
.personal-info input {
    height: 6vh;
    border-radius: 5px;
    border: 1px solid rgb(219, 219, 219);
    padding: 3%;
}
#buttonRow{
    margin: 4% 0%;
}
.buttonNext{
    padding: 1%;
    width: 10%;
    border-radius: 8px;
    border-style: hidden;
    margin-bottom: 3%;
    color: #999999;
    float: right;
}
.buttonNext:hover{
    background-color: #489CB7;
    color: #FFFFFF;
}

/* .buttonCushion
{
    height: 1.875rem;
} */

.buttonBack{
    padding: 1%;
    width: 10%;
    border-radius: 8px;
    border-style: hidden;
    color: #999999; 
    
}
.buttonBack:hover{
    background-color: #489CB7;
    color: #FFFFFF;
}
.btnNextAndBack {
    padding: 1rem 0 1rem 0;
}


/* VAR SKULLE GÄSTERNA KUNNA BO */
.utrymme {
    margin: 1rem 0 2rem 0;
}
#guestWhereInfo h6 {
    font-weight: bold;
}
.checkboxRight {
    height: 20px;
    width: 100px;
    float: right;
}
.checkBoxarMedText {
    padding: 0.1rem 0;
}
small {
    font-size: x-small;
}
.houseTypes {
    padding-bottom: 1rem;
}

@media screen and (max-width: 800px) {
    #languageText {
        display: none;
    }
    .fastLinks a{
        display: none;
    }
    .fastLinks h4{
        display: none;
    }
    .story-right{
        display:none;
    }
}