@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chivo&family=Fredoka&family=Karla:wght@500&display=swap');

#contentSim{

}
#contentQA{

}
#contentHowto{

}

*{
    font-family: "Chivo";
}
#header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#languageIconDiv{
    position: absolute;
    right: 64px;
    display: flex;
    align-items: center;  
    font-weight: bold;
    font-size: 16px;
    color: #004664;
    text-align: center;
}
#languageText{
    margin: 0%;
    margin-left: 16px;
}
.logo{
    width: 139px;
    height: 104px;
    margin-top: 14px;
}
#logoDiv{
    background-image: url("/Images/Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 100px;
    margin-top: 22px;
    margin-bottom: 5px;

}
.dropdown-toggle-blue{
    background-image: url("Images/chevron\ dropdown\ menu.png");
    background-repeat: no-repeat;
}

#dropdownImg{
    width: 14px;
    height: 6px;
}
.navbar{
    background-color: #F2F2F2;
}
#navbar-p{
    margin-bottom: 0%;
    margin-right: 3%;
    font-family: "Chivo";
    color: #004664;
    font-weight: bolder;
}
#navbarDropdownMenuLink{
    width: auto;
    height: auto;
}

#searchButtonImg{
    width: 19px;
    height: 19px;
}
#registerContentDiv{
    margin-left: 10%;
    max-width: 889px;
    margin-top: 1%;
    margin-bottom: 2%;

}
#registerHeader{
    font-size: 85px;
    font-weight: bold;
}

.gradient-text {
    background-image: linear-gradient(89.43deg, #004664 0.25%, #489CB7 73.19%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
#registerButton{
    background-color: #489CB7;
    padding: 20px 50px;
    border-radius: 8px;
    border-style: hidden;
}
.content-div{
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 70, 100, 0.3);
}
.content-div h4{
    font-weight: bold;
    color: #004664;
}
.content-div-left{
    margin-left: 64px;
}
.content-div-mid{
    margin-left: 32px;
    margin-right: 32px;
}
.content-div-right{
    margin-right: 64px;
}

.introContainer{
    background-image: url(Images/family.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 573px;
}
.introTextContent{
    max-width: 420px;
    flex-direction: column;
    padding-top: 5%;
    margin-left: 7%;
    color: white;


}

.introHeader{
    border: #F2F2F2 8px solid;
    border-radius: 6px ;
    
    padding: 2% 2%;
}

.introPara{
    padding: 2% 2%;
    font-size: 20px;
}

.introBtn button{
    background-color: #489CB7;
    color: white;
    padding: 2.5%;
    border-style: none;
    border-radius: 5px;
    margin-left: 2%;
}
.fastLinks{
    flex-direction: column;
    margin-left: 80%;
    color: white;  
}
.fastLinks h4{
    font-size: medium;
}
.fastLinks a{
    text-decoration: none;
    color: white;
    font-size: small;
}

.snakes {
    flex-direction: row;
    justify-content: space-between;
    color: #004664;
}

.snake h1
{
    text-align: center;
    padding-top: 3%;
    color: #004664;
}

.snake {
    background-color: #fef2e7;
    height: 380px;
    padding-left: 6%;
    padding-right: 6%;

}

.snakeboxes {
    background-color: white;
    border: #004664 4px solid;
    border-radius: 8px;
    width: 25%;
    height: 160px;
    padding-left: 2%;
    padding-top: 1%;
}

.snakeboxes h2{
    font-size: 27px;
}

.snakeboxes p{
    font-size: small;
}




@media screen and (max-width: 800px) {
    #languageText {
        display: none;
    }
    .fastLinks a{
        display: none;
    }
    .fastLinks h4{
        display: none;
    }
}