@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chivo&family=Fredoka&family=Karla:wght@500&display=swap');

* {
  font-family: 'Chivo';
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF9F4;
}

form {
  background-color: white;
}

.homepage {
  background-color: #FFF9F4;
}

p {
  padding: 0%;
  margin-bottom: 0%;
}

.row {
  --bs-gutter-x: 0;

}

.sameSides {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.placement-inputs {
  display: flex;
  justify-content: space-between;
}
.placement {
  width: 48%;
}
.placement input {
  width: 100%;
}


/************HEADER STYLING*********************/

#header {
  background-color: white;
  height: 90px;
  position: relative;
  align-items: center;
}

.menuItems {
  width: 53%;
  margin-left: 16%;
}

.menuItems a {
  text-decoration: none;
}

.menuItems p {
  font-weight: bold;
  color: #004664;
}

.menuItems p:hover {
  text-decoration: underline #489CB7 3px;
  text-underline-offset: 10px;
}

#logoimg :hover {
  background-image: linear-gradient(to bottom right, #489CB7, #004664);
}

#logoimg {
  background-color: #004664;
  position: absolute;
  height: 100%;
  width: auto;
}

.logoImgImg {
  position: absolute;
}

#languageIconDiv {
  width: 95px;
  justify-content: space-between;

}

#globe {
  width: 20px;
  height: 20px;
}

.language {
  padding: 0%;
  margin-left: 16px;
}

#searchIcon {
  margin-top: 10px;
}

.languageList {
  width: 120px;
  direction: ltr;
}

.direction {
  direction: rtl;
}

.list-group-item {
  color: #004664;
  text-align: end;
}

.searchbar {
  height: 90px;
  background-color: #004664;
  padding-left: 4%;
  width: 100%;
  animation-name: test;
  animation-duration: 0.1s;
}

@keyframes test {
  0% {
    width: 5%;
  }

  5% {
    width: 10%;
  }

  10% {
    width: 15%;
  }

  15% {
    width: 20%;
  }

  20% {
    width: 25%;
  }

  25% {
    width: 30%;
  }

  30% {
    width: 35%;
  }

  35% {
    width: 40%;
  }

  40% {
    width: 45%;
  }

  45% {
    width: 50%;
  }

  50% {
    width: 55%;
  }

  55% {
    width: 60%;
  }

  60% {
    width: 65%;
  }

  65% {
    width: 70%;
  }

  70% {
    width: 75%;
  }

  75% {
    width: 80%;
  }

  80% {
    width: 85%;
  }

  85% {
    width: 90%;
  }

  90% {
    width: 95%;
  }

  95% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

#searchfield:focus {
  outline: none;
  border: none;
  border-left: #FFFFFF 2px solid;
  padding-left: 0.5%;
  color: #FFFFFF;
}

#searchfield {
  background-color: #004664;
  outline: none;
  border: none;
  border-left: #FFFFFF 1px solid;
  margin-left: 1%;
  width: 93%;
  height: 35%;
  padding-left: 0.5%;
}

#searchfield::placeholder {
  font-weight: bold;
  color: #999999;
}

.sida {
  visibility: hidden;
}


/************IntroContainer STYLING*********************/
.introContainer {
  /* background-repeat: no-repeat;
  background-size: cover;  */
  min-height: 55vh;
  /* padding-bottom: 6%; */
  padding-top: -1%;
}

.introTextContent {
  max-width: 420px;
  padding-top: 5%;
  color: white;
}

.introHeader {
  /* border: #F2F2F2 8px solid;
  border-radius: 6px ; */
  padding: 2% 2% 0 0;
  text-align: left;
  margin-top: 5%;
}

.introPara {
  padding: 3% 0% 3% 0.2%;
  font-size: 13px;
}

.introBtn {
  background-color: #489CB7;
  color: white;
  padding: 2.5%;
  border-style: none;
  border-radius: 5px;
  margin: 5% 0 5% 0.2%;
  width: 50%;
}

.introBtn:hover {
  background-color: #004664;
}


/************ToBeHoast styling********************************/
.toBeHoastContent {
  color: #004664;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

.homepageH6 {
  color: #004664;
  text-align: center;
  padding-bottom: 1%;
  font-weight: 400;
  font-size: smaller;
}

.toBeHoast-container h2 {
  text-align: center;
  padding-bottom: 1.5%;
  font-weight: 900;
}

.toBeHoast-container .listan {
  padding-bottom: 2.5%;
}

.toBeHoast-container p {
  text-align: center;
  font-size: small;
  font-weight: normal;
}

.btn-primary {
  background-color: #004664;
  padding: 0.52% 1.2%;
  font-size: small;
  border-radius: 8px;
  border-style: none;
  margin: 15px;
}

.btn-primary:hover {
  background-color: #489CB7;
}

.kommuner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 0;
  width: 100%;
}

.sleepingChild {
  width: 100%;
  height: auto;
  text-align: center;
}

.kommunloggorna {
  margin: 0.5% 0 3.5% 0;
  text-align: center;
}

/************Referencer STYLING*********************/


.referencer-container {
  color: #004664;
  display: flex;
  flex-direction: column;
  /*  align-items: left; */
  padding-right: 0%;
}

.referencer-container h6 {
  text-align: left;
}

.smaller-headline {
  margin-bottom: 1%;
  padding-right: 10rem;
  font-weight: 700;
}

.referencer-container .referencer-paragraph {
  width: 530px;
  margin-bottom: 26px;
}

.referencer-families {
  display: flex;
  flex-direction: row;
  margin-left: -1%;
  justify-content: space-evenly;
  margin-right: -1%;
}

.referencer-family {
  transition: transform .2s;
}

.referencer-family:hover {
  transform: scale(0.99);
}

.familyNames {
  color: black;
  padding-bottom: 4px;
}

.familyKommun {
  color: #999999;
  font-size: 13px;
  margin-bottom: 0;
}

.familyInfo {
  margin-left: 3.6%;
}

.seAllaBtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 40px;
}

.seAllaBtnActualBtn {
  color: white;
  border: #004664 solid 1px;
  border-radius: 8px;
  background-color:#004664;
  width: 83px;
  height: 40px;
}

.seAllaBtnActualBtn:hover {
  border-color: #FFF9F4;
}

/************FAQ*********************/

.FAQToTheSide {
  padding-bottom: 10px;
}

.FAQ-content {
  color: #004664;
  padding: 0 20px 30px 0;
  display: flex;
  flex-direction: column;
}

.FAQActualQuestions {
  display: flex;
  flex-direction: row;
}

.question h4 {
  font-weight: 900;
}

.question {
  width: 85%;
  padding-top: 10px;
  padding-bottom: 30px;
}

.FAQBtn {
  width: 200px;
  padding: 0 10px 0 10px;
  align-self: center;
}

.FAQBtn:hover {
  border-color: #FFF9F4;
}
/************NewsLetter********************/
.newsLetter {
  background-color: #004664;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 330px;
  padding: 30px;
}
.newsLetter h3{
  font-weight: 900;
  height: 40px ;
  font-size: 32px;
}
.newsLetter p {
  font-size: 16px;
}
.newsLetter input {
  width: 336px;
  height: 48px;
  border: #DDDDDD 1px solid;
  font-size: 13px;
  padding-left: 16px;
}
.newsLetter button {
  width: 94px;
height: 40px;
border-style: none;
background-color: white;
border-radius: 8px;
color: #004664;
}
.newsLetter button:hover {
  color: white;
  background-color: #489CB7;
}

/************Footer********************/
.footer {
  color: #FFFFFF;
  margin-top: 40px;
  position: relative;
}

.footer-left-right {
  display: flex;
  position: absolute;
  height: 800px;
}

.footer-left-right h4 {
  margin: 30px 0 20px 0;
}

.footer-left p {
  padding-right: 20px;
}
.footer-left {
  background-color: #003850;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.mellanrum {
  background-color: #489CB7;
  height: 700px;
}

.footer-right {
  background-color:#004664;
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
}
.footer-right .footer-item {
  margin-left: 40px;
  margin-right: 40px;
} 

.footer-bottom {
  z-index: 9;
  position: relative;
  bottom: 0;
}

.footer-bottom-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 50px; 
  border-bottom: #FFFFFF 1px solid;
}

.footer-bottom-top h3{
  font-weight: 900;
}

.footer-bottom p {
  margin: 10px 50px;
  font-size: small;
}

.footer-image{
  margin-bottom: 8px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
}


/************Form********************/
#headerSimulator {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: #004664;
}

#languageIconDiv {
  position: absolute;
  right: 4rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-align: center;
}

.errorRed {
  color: red;
  font-size: small;
}

#whiteGlobe {
  width: 15%;
  height: 15%;
}

/*Intruduction text */

#intresseAnmalan{
  width: 40%;
  align-items: center;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.content-container .row {
  margin-top: 15px;
}

.desc-p {
  margin-top: 3%;
}


.main-container {
  margin-top: 5%;
  margin-bottom: 5%;
}
.main-container-Personal{
  margin-bottom: 5%;
}

.sidenavPlacement{
  margin-left: 3%;
}
.sidenav {
  border-left: 1px solid black;
  margin-left: 3%;
  padding-left: 5%;
}
.sidenavStep{
  margin-left: 3%;
  margin-bottom: 5%;
  font-weight: bold;
}


/*Form Container*/

.formTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.infoCircle{
  float: right;
  margin-top: 3%;
  min-width: 25px;
}
.form-template {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  padding: 3% 3% 1% 3%;
}

form input {
  height: 6vh;
  border-radius: 5px;
  border: 1px solid rgb(219, 219, 219);
  padding: 3%;
  margin-bottom: 3%;
}

#personligInfo h4 {
  padding-bottom: 3%;
}

.form-header {
  font-weight: bold;
  padding: 4% 0 0 0;
  color: #004664
}

.utrymme {
  margin: 1rem 0 2rem 0;
}

.h6-bold {
  font-weight: bold;
}

.checkboxRight {
  height: 20px;
  width: 100px;
  float: right;
}

.checkBoxarMedText {
  padding: 0.1rem 0;
}

small {
  font-size: x-small;
}

.houseTypes {
  padding-bottom: 1rem;
}

.dropdown-div {
  margin-left: 5%;
}

#max-guests {
  width: 90%;
}

textarea{
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border: 1px solid rgb(219, 219, 219);
  padding: 1%;
  resize: none;
}
.maxChar{
  text-align: end;
  color: #999999;
}
/*Button*/
#buttonRow {
  margin: 4% 0%;
}

.buttonNext {
  padding: 1%;
  width: 70px;
  border-radius: 8px;
  border-style: hidden;
  margin-bottom: 3%;
  background-color: #004664;
  color: white;
  float: right;
}
.sendInInformation{
  padding: 1%;
  width: 250px;
  border-radius: 8px;
  border-style: hidden;
  margin-bottom: 3%;
  background-color: #004664;
  color: white;
  float: right;
}

.buttonNext:hover {
  background-color: #489CB7;
  color: #FFFFFF;
}
.sendInInformation:hover {
  background-color: #489CB7;
  color: #FFFFFF;
}

.buttonBack {
  padding: 1% 3% 1% 1%;
  border-radius: 8px;
  border-style: hidden;
  background-color: #FFFFFF;
  color: #004664;
}

.buttonBack:hover {

  background-color: #F2F2F2;
  color: #004664;
}

.btnNextAndBack {
  padding: 1rem 0 1rem 0;
}

/********** OUR MISSION PAGE *****************/
.our-mission-title{
  margin-left: 10%;
  color: white;
}
.our-mission-title h1{
  font-weight: bold;
}
.our-mission-content{
  color:#004664;
  margin-top: 5%;
}
.our-mission-content p {
  font-size: medium;
  margin-bottom: 2.5%;
}
.our-mission-content h5{

}
.our-mission-h2{
  font-weight: bold;
  font-size: 40px;
}
.kommunlogga{
  margin-left: -2%;
}

/**********MEDIA ************************/
@media screen and (max-width: 800px) {
  #languageText {
    display: none;
  }

  .fastLinks a {
    display: none;
  }

  .fastLinks h4 {
    display: none;
  }

  .story-right {
    display: none;
  }
}