@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chivo&family=Fredoka&family=Karla:wght@500&display=swap');

*{
  font-family: 'Chivo';
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  padding: 0%;
  margin-bottom: 0%;
}
/************HEADER STYLING*********************/
.logo{
  width: 139px;
  height: 104px;
  margin-top: 14px;
}
#logoDiv{
  background-size: contain;
  background-repeat: no-repeat;
  width: 130px;
  height: 70px;
  margin-top: 1%;
  margin-left: 4%;
}
#logoDiv img {
  height: 80%;
}
#languageIconDiv{
  position: absolute;
  right: 64px;
  font-weight: bold;
  font-size: 16px;
  color: #004664;
  text-align: center;

}
#globe{
  width: 20px;
  height: 20px;
}
.language{
  padding: 0%;
  margin-left: 16px;
}


/************NAVBAR STYLING*********************/
.navbar{
  background-color: #F2F2F2;
}
#navbar-p{
  margin-bottom: 0%;
  margin-right: 3%;
  font-family: "Chivo";
  color: #004664;
  font-weight: bolder;
}
#navbarDropdownMenuLink{
  width: auto;
  height: auto;
}

/************IntroContainer STYLING*********************/
.introContainer{
  background-image: url("../public/Images/family.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
.introTextContent{
  max-width: 420px;
  padding-top: 5%;
  margin-left: 7%;
  color: white;
}
.introHeader{
  border: #F2F2F2 8px solid;
  border-radius: 6px ;
  padding: 2% 2%;
}
.introPara{
  padding: 2% 2%;
  font-size: 20px;
}
.introBtn button{
  background-color: #489CB7;
  color: white;
  padding: 2.5%;
  border-style: none;
  border-radius: 5px;
  margin-left: 2%;
}
.fastLinks{
  margin-left: 85%;
  color: white;  
}
.fastLinks h4{
  font-size: medium;
}
.fastLinks a{
  text-decoration: none;
  color: white;
  font-size: small;
}

/************SnakeContainer STYLING*********************/
.snakeboxes {
  color: #004664;
}

.snake h1
{
  text-align: center;
  padding-top: 3%;
  color: #004664;
}

.snake {
  background-color: #fef2e7;
   padding-left: 6%;
  padding-right: 6%; 

}

.snakebox {
  background-color: white;
  border: #004664 4px solid;
  border-radius: 8px;

  padding-left: 2%;
  padding-top: 1%; 
}

.snakebox h2{
  font-size: 27px;
  font-weight: bold;
}

.snakebox p{
  font-size: medium;
}

/************MainContentContainer STYLING*********************/
#mainContent {
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  margin-bottom: 8%;
}
.mainContentButton {
  background-color: #004664;
  padding-left:2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content-div{

  box-shadow: 0px 4px 15px rgba(0, 70, 100, 0.3);
  margin-top: 2%;
  flex-direction: column;
  padding: 0%;

}

#textcontent1{
  padding-left: 2%;
  padding-top: 2%;
}


.content-img img{
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.contentButtonPara{
  margin-bottom: 0px;
  margin-left: 3%;
  color: #F2F2F2;
  font-family: "Chivo";
  font-weight: bolder;
}
.rightArrow{
  border-style: solid;
  border-color: #F2F2F2;
  border-radius: 8px;
}

/*************StoryContainer STYLING*********************/
.stories-div{
  background-color: #EDF0F2;
  padding-top: 1.5%;
}
.stories-div-h4{
  text-align: center;
  font-weight: bolder;
}
.story-h3{
  text-align: center;
  color: #004664;
  font-weight: 900;
  margin-top: 7%;
}
.story{
  flex-direction: column;
}
.story-img{
  max-width: 300px;
}

.story-p{
  padding-left: 8%;
} 

/**********MEDIA ************************/
@media screen and (max-width: 800px) {
  #languageText {
      display: none;
  }
  .fastLinks a{
      display: none;
  }
  .fastLinks h4{
      display: none;
  }
  .story-right{
      display:none;
  }
}
