.logo{
    width: 139px;
    height: 104px;
    margin-top: 14px;
  }
  .logoDiv{
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 70px;
    margin-top: 1%;
    margin-left: 4%;
  }
  #logoDiv img {
    height: 80%;
  }
  .languageIconDiv{
    position: absolute;
    right: 64px;
    font-weight: bold;
    font-size: 16px;
    color: #004664;
    text-align: center;
  }
  .language{
    padding: 0%;
    margin-left: 16px;
  }